{% set header = [
    "hostname",
    "inventory_name",
    "failed",
    "upgrade_required",
    "upload_required",
    "upgraded_finished",
    "is_staged",
    "oneos_version",
    "software_version",
    "wanted_os_version",
    "boot_version",
    "wanted_boot_version",
    "recovery_version",
    "wanted_recovery_version",
    "disk_space_sufficient_for_all_files",
    "disk_space_sufficient_for_boot_and_recovery_files",
    "disk_space_sufficient_for_os_file",
    "disk_space_required_total",
    "total_disk_space",
    "free_disk_space",
    "scp_status",
    "os_file_exists_on_disk",
    "recovery_file_exists_on_disk",
    "os_is_in_active_software_bank",
    "os_is_in_alternate_software_bank",
    "upgrade_required_for_os",
    "upgrade_required_for_boot",
    "upgrade_required_for_recovery",
    "upload_required_os_file",
    "upload_required_boot_file",
    "upload_required_recovery_file",
    "wanted_boot_file",
    "wanted_os_file",
    "wanted_recovery_file",
    "upload_done_for_os_file",
    "upload_done_for_boot_file",
    "upload_done_for_recovery_file",
    "ready_for_upgrading_os",
    "ready_for_upgrading_boot",
    "ready_for_upgrading_recovery",
    "upgrade_done_os",
    "upgrade_done_boot",
    "upgrade_done_recovery",
    ]
%}
{{ header | join(';') }}
{% for host in ansible_play_hosts | map('extract', hostvars) | list %}
{% set row = [
    host.have_hostname|default(),
    host.inventory_hostname,
    host.upgrade_process_failed|default(False),
    host.upgrade_required|default(),
    host.upload_required|default(),
    host.upgraded_finished|default(False),
    host.is_staged|default(False),
    host.ansible_facts.pre_check_system[0].VERSION|default(),
    host.ansible_facts.pre_check_system[0].SOFTWARE|default(),
    host.wanted_os_version|default(),
    host.ansible_facts.pre_check_system[0].BOOT_VERSION|default(),
    host.wanted_boot_version|default(),
    host.ansible_facts.pre_check_system[0].RECOVERY_VERSION|default(),
    host.wanted_recovery_version|default(),
    host.disk_space_sufficient_for_all_files|default(),
    host.disk_space_sufficient_for_boot_and_recovery_files|default(),
    host.disk_space_sufficient_for_os_file|default(),
    host.disk_space_required_total|default(),
    host.fact_memory.USER_PARTITION_TOTAL|default(),
    host.fact_memory.USER_PARTITION_FREE|default(),
    host.fact_ssh[0].SCP|default(),
    host.os_file_exists_on_disk|default(),
    host.recovery_file_exists_on_disk|default(),
    host.os_is_in_active_software_bank|default(),
    host.os_is_in_alternate_software_bank|default(),
    host.upgrade_required_for_os|default(),
    host.upgrade_required_for_boot|default(),
    host.upgrade_required_for_recovery|default(),
    host.upload_required_os_file|default(),
    host.upload_required_boot_file|default(),
    host.upload_required_recovery_file|default(),
    host.wanted_boot_file|default(),
    host.wanted_os_file|default(),
    host.wanted_recovery_file|default(),
    host.upload_done_for_os_file|default(),
    host.upload_done_for_boot_file|default(),
    host.upload_done_for_recovery_file|default(),
    host.ready_for_upgrading_os|default(),
    host.ready_for_upgrading_boot|default(),
    host.ready_for_upgrading_recovery|default(),
    host.upgrade_done_os|default(),
    host.upgrade_done_boot|default(),
    host.upgrade_done_recovery|default(),
    ]
%}
{{ row | join(';') }}
{% endfor %}
