hostname: {{ have_hostname }}
inventory_name: {{ inventory_hostname }}
oneos_version: oneos v{{ ansible_facts.pre_check_system[0].VERSION|default() }}
wanted_os_version: {{ wanted_os_version|default() }}
boot_version: {{ ansible_facts.pre_check_system[0].BOOT_VERSION|default() }}
wanted_boot_version: {{ wanted_boot_version|default() }}
recovery_version: {{ ansible_facts.pre_check_system[0].RECOVERY_VERSION|default() }}
wanted_recovery_version: {{ wanted_recovery_version|default() }}
software_version: {{ ansible_facts.pre_check_system[0].SOFTWARE|default() }}
disk_space_sufficient_for_all_files: {{ disk_space_sufficient_for_all_files|default() }}
disk_space_sufficient_for_boot_and_recovery_files: {{ disk_space_sufficient_for_boot_and_recovery_files|default() }}
disk_space_sufficient_for_os_file: {{ disk_space_sufficient_for_os_file|default() }}
disk_space_required_total: {{ disk_space_required_total|default() }}
total_disk_space: {{ fact_memory.USER_PARTITION_TOTAL|default() }}
free_disk_space: {{ fact_memory.USER_PARTITION_FREE|default() }}
scp_status: {{ fact_ssh[0].SCP|default() }}
os_file_exists_on_disk: {{ os_file_exists_on_disk|default() }}
recovery_file_exists_on_disk: {{ recovery_file_exists_on_disk|default() }}
os_is_in_active_software_bank: {{ os_is_in_active_software_bank|default() }}
os_is_in_alternate_software_bank: {{ os_is_in_alternate_software_bank|default() }}
ready_for_upgrading_boot: {{ ready_for_upgrading_boot|default() }}
ready_for_upgrading_os: {{ ready_for_upgrading_os|default() }}
ready_for_upgrading_recovery: {{ ready_for_upgrading_recovery|default() }}
upgrade_required_for_boot: {{ upgrade_required_for_boot|default() }}
upgrade_required_for_os: {{ upgrade_required_for_os|default() }}
upgrade_required_for_recovery: {{ upgrade_required_for_recovery|default() }}
upload_required_boot_file: {{ upload_required_boot_file|default() }}
upload_required_os_file: {{ upload_required_os_file|default() }}
upload_required_recovery_file: {{ upload_required_recovery_file|default() }}
wanted_boot_file: {{ wanted_boot_file|default() }}
wanted_os_file: {{ wanted_os_file|default() }}
wanted_recovery_file: {{ wanted_recovery_file|default() }}